<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<h:panelGroup styleClass="container" layout="block" id="navbar">
			<h:panelGroup layout="block" styleClass="navbar-header">

				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<h:link outcome="/index" styleClass="navbar-brand">
					<span class="projectName">#{label['queryview.bbmri']}<span class="bbmriModule">#{label['admin.negotiator']}</span></span>
				</h:link>
			</h:panelGroup>

			<h:panelGroup layout="block" styleClass="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>
						<h:link outcome="index">
							#{label['admin.status']}
						</h:link>
					</li>
					<li>
						<h:link outcome="sudo">
							#{label['admin.sudo']}
						</h:link>
					</li>
					<li>
						<h:link outcome="email">
							#{label['admin.email']}
						</h:link>
					</li>
					<li>
						<h:link outcome="debug">
							#{label['admin.debug']}
						</h:link>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right navbar-user">
					<li class="pull-right">
						<h:link outcome="/index">
							<i class="fa fa-sign-out userIcon"/>
						</h:link>
					</li>
					<li class="pull-right">
						<h:link outcome="/admin/index">Version #{applicationBean.version}, DB #{applicationBean.DBVersion},
							#{applicationBean.JSFTitle} #{applicationBean.JSFVersion}</h:link>
					</li>
				</ul>
			</h:panelGroup>
		</h:panelGroup>

	</nav>
</ui:composition>
