<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:bbmricc="http://xmlns.jcp.org/jsf/composite/bbmri"
                template="../components/default.xhtml"
>

    <f:metadata>
        <f:viewParam name="queryId"
                     value="#{researcherQueriesDetailBean.queryId}"/>
        <f:viewAction action="#{researcherQueriesDetailBean.initialize}"/>
    </f:metadata>

    <!-- Queries detail page for the owner -->

    <ui:param name="bodyClass" value="container-fluid body-nomargin"/>

    <ui:define name="body">
        <h:panelGroup layout="block" styleClass="col-md-3 left-panel">

            <bbmricc:searchDetail backingBean="#{researcherQueriesDetailBean}"/>

            <!-- queryboxes BEGIN -->
            <h:panelGroup
                    rendered="#{researcherQueriesDetailBean.queries.size() == 0 and researcherQueriesDetailBean.filterTerms.size() > 0}"
                    layout="block" styleClass="col-md-12">
                <h3>#{label['queryview.noSearchResults']}</h3>
            </h:panelGroup>

            <ui:fragment rendered="#{researcherQueriesDetailBean.queries.size() > 0}">
                <h:form>

                    <ui:repeat value="#{researcherQueriesDetailBean.queries}" var="item">
                        <bbmricc:queryboxResearcher item="#{item}" selectedQuery="#{researcherQueriesDetailBean.queryId}"/>
                    </ui:repeat>

                    <h:outputScript>
                        $(function () {
                            setupQueryLinks();
                        });
                    </h:outputScript>

                </h:form>
            </ui:fragment>
            <!-- queryboxes END -->

        </h:panelGroup>


        <h:panelGroup layout="block" styleClass="col-md-6 right-panel" id="right-panel">
            <h:panelGroup layout="block" styleClass="main-content">


                <h:panelGroup layout="block" id="queryDetails">

                    <h:messages showSummary="true" showDetail="false"
                                styleClass="list-group"
                                errorClass="list-group-item list-group-item-danger"
                                infoClass="list-group-item list-group-item-info"/>

                    <bbmricc:queryDetailData bean="#{researcherQueriesDetailBean}" />

                </h:panelGroup>
               <h:panelGroup id="queryCollectionsDisplay" layout="block">

                    <h:panelGroup styleClass="text" layout="block">
                        <h:outputLabel value="#{label['queryview.title.amountMatchingCollections']}"/>
                        <h:outputText
                                value="#{researcherQueriesDetailBean.matchingBiobanks}"
                                style="margin-left: 22px;">
                        </h:outputText>

                        <a href="#" data-toggle="collapse" data-target="#collection-list" class="label label-default">
                            #{label['queryview.action.showcollections']}
                        </a>
                    </h:panelGroup>

                   <div id="collection-list" class="collapse">
                       #{researcherQueriesDetailBean.jsTreeJson}
                   </div>
                   <h:outputScript>
                       $(function() {
                           var data1= JSON.parse(document.getElementById("collection-list").innerHTML);
                           $('#collection-list').jstree({
                               'core': {
                                   'data': data1
                               }
                           });
                       });
                   </h:outputScript>
                </h:panelGroup>

                <h:panelGroup id="noCollectionsText"
                        rendered="#{researcherQueriesDetailBean.matchingBiobankCollection.size() == 0}"
                        layout="block">
                    <h:outputLabel value="#{label['queryview.title.nocollections']}"
                                   styleClass="form-control-static"/>
                </h:panelGroup>

                <bbmricc:queryDetailAttachments bean="#{researcherQueriesDetailBean}" />

                <h:panelGroup styleClass="row" layout="block">

                    <h:panelGroup styleClass="col-md-12 btn-toolbar" layout="block">

                        <h:button outcome="newQuery"
                                  value="#{label['queryview.title.editQuery']}"
                                  title="#{label['queryview.tooltip.editQuery']}"
                                  styleClass="btn btn-primary" style="margin-top: 10px">

                            <f:param name="queryId" value="#{researcherQueriesDetailBean.selectedQuery.id}"/>
                        </h:button>
                    </h:panelGroup>

                </h:panelGroup>


                <h:panelGroup styleClass="row" layout="block">
                    <h:panelGroup styleClass="col-md-12" >
                        <h:panelGroup styleClass="col-md-4" >
                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4" >
                            <h:form id="form">
                                <!-- Show the start negotiation button only if the negotiation hasn't started yet for a given query. -->
                                <h:commandButton id="startNegotiation"
                                                 rendered="#{researcherQueriesDetailBean.selectedQuery.negotiationStartedTime == null}"
                                                 value="#{label['querydetail.action.startNegotiation.buttonText']}"
                                                 action="#{researcherQueriesDetailBean.startNegotiation()}"
                                                 title="#{label['querydetail.tooltip.startNegotiation']}"
                                                 styleClass="btn btn-primary" style="margin-top: 40px"/>
                            </h:form>

                        </h:panelGroup>
                        <h:panelGroup styleClass="col-md-4" >
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>

                <!-- Show the chat panel only after negotiation starts. -->
                <h:panelGroup layout="block" rendered="#{researcherQueriesDetailBean.selectedQuery.negotiationStartedTime != null}" style="margin-top:10px;">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active" id="first"><a data-toggle="tab"
                                                         href="#comments">#{label['querydetail.title.comments']}</a>
                        </li>
                        <li id="second"><a data-toggle="tab"
                                           href="#sampleAvailability">#{label['querydetail.title.privateNegotiation']}</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="comments" class="tab-pane fade in active">

                            <ui:repeat value="#{researcherQueriesDetailBean.comments}"
                                       var="comment">

                                <bbmricc:comment comment="#{comment.comment}"
                                                 person="#{comment.person}" collections="#{comment.collections}"/>

                            </ui:repeat>

                            <div class="col-xs-12">
                                <hr/>
                            </div>

                            <bbmricc:commentReply
                                    query="#{researcherQueriesDetailBean.selectedQuery}"/>
                        </div>

                        <div id="sampleAvailability" class="tab-pane fade">

                            <!--    Dropdown menu using Select2         -->
                            <h:panelGroup rendered="#{researcherQueriesDetailBean.biobankWithoutOffer.size() > 0}">
                                <h:form id="researcherForm">
                                    <br/>
                                    <h:outputLabel for="select2"> #{label['queryview.researcher.newconversation.title']}</h:outputLabel>
                                    <h:selectOneMenu id="select2" styleClass="basic-single" value="#{researcherQueriesDetailBean.offerResearcher}" style="width: 40%;margin: 7px" >

                                        <f:selectItems value="#{researcherQueriesDetailBean.biobankWithoutOffer}" var="dropdown" itemValue="#{dropdown.biobank.id}" itemLabel="#{dropdown.biobank.name}" />
                                    </h:selectOneMenu>
                                    <h:commandButton value="Start" action="#{researcherQueriesDetailBean.addIntoList()}" styleClass="btn btn-primary"/>
                                    <br/>
                                </h:form>
                                <h:outputScript>
                                    $(".basic-single").select2({
                                    placeholder: "#{label['queryview.researcher.newconversaion.select.placeholder']}",
                                    allowClear: true, width: 'resolve', theme:'classic'
                                    })
                                </h:outputScript>
                            </h:panelGroup>

                            <ui:fragment rendered="#{researcherQueriesDetailBean.biobankWithOffer.size() == 0}">
                                <br />
                                <p>
                                    <b> <h:outputText value="#{label['message.noOffers']}" /> </b>
                                </p>
                            </ui:fragment>
                            <br />

                            <c:forEach var="i" begin="1" end ="#{researcherQueriesDetailBean.biobankWithOffer.size()}">
                            <c:if test="#{researcherQueriesDetailBean.biobankWithOffer.get(i-1)==researcherQueriesDetailBean.offerResearcher}">
                                <c:set var="oneMarkerOnly" value="#{i}" />
                            </c:if>
                            </c:forEach>

                            <c:forEach begin="1" end="#{researcherQueriesDetailBean.biobankWithOffer.size()}" var="i">

                                <div class="panel panel-default deco-none" >

                                          <div id="heading#{i}" class="panel-heading " data-toggle="collapse" data-target="#hh#{i}">
                                            <h4 class="panel-title">

                                                <c:forEach var="j" begin="1" end="#{researcherQueriesDetailBean.matchingBiobankCollection.size()}">
                                                    <c:if test="#{researcherQueriesDetailBean.matchingBiobankCollection.get(j-1).biobank.id==researcherQueriesDetailBean.biobankWithOffer.get(i-1)}">
                                                        <c:set var="biobankName" value="#{researcherQueriesDetailBean.matchingBiobankCollection.get(j-1).biobank.name}"/>
                                                    </c:if>
                                                </c:forEach>
                                                <a>#{biobankName}</a>
                                            </h4>
                                          </div>

                                    <div id="hh#{i}"
                                         class="panel-collapse collapse #{(i==oneMarkerOnly)?'in':''}"
                                         role="tabpanel"
                                         aria-labelledby="heading#{i}">

                                        <div class="panel-body">
                                            <ui:repeat
                                                    value="#{researcherQueriesDetailBean.listOfSampleOffers[i-1]}"
                                                    var="offers">

                                                <bbmricc:comment comment="#{offers.offer}"
                                                                 person="#{offers.person}"
                                                                 collections="#{offers.collections}"/>

                                            </ui:repeat>

                                            <div class="col-xs-12">
                                                <hr/>
                                            </div>

                                            <bbmricc:commentReply makeOffer="true"
                                                                  query="#{researcherQueriesDetailBean.selectedQuery}"
                                                                  offer="#{researcherQueriesDetailBean.biobankWithOffer[i-1]}"/>
                                        </div>
                                    </div>
                                </div>

                            </c:forEach>


                        </div>
                    </div>

                </h:panelGroup>

                <h:outputScript>
                    $(function () {

                        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                            localStorage.setItem('lastTab', $(this).attr('href'));
                        });

                        var lastTab = localStorage.getItem('lastTab');
                        if (lastTab) {
                            $('[href="' + lastTab + '"]').tab('show');
                        }
                    });
                </h:outputScript>


            </h:panelGroup>
        </h:panelGroup>

    </ui:define>

</ui:composition>
