<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://xmlns.jcp.org/jsf/html"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
				template="../components/default.xhtml">

	<!-- Queries page for the researcher -->


	<ui:param name="bodyClass" value="container" />

	<ui:define name="body">

		<h:outputStylesheet library="introjs" name="introjs.min.css" />
		<h:outputScript library="introjs" name="intro.min.js" />

		<h:panelGroup layout="block" styleClass="col-md-12">
					
			<h1>Development mode <small>
                <h:outputLink class="padding-top-3"
                              value="javascript:void(0);"
                              onclick="introJs().setOption('showBullets', false).start();">
                                    <span class="glyphicon glyphicon-question-sign help-icon"></span>
                </h:outputLink>
                <h:outputLink class="padding-top-3"
                              value="javascript:void(0);"
                              onclick="introJs().addHints();">
                    <span class="glyphicon glyphicon-bullhorn"></span>
                </h:outputLink>
                </small></h1>

			<h3>Chose user</h3>

			<div class="col-md-6 col-md-offset-3">

				<h:form styleClass="form-horizontal">

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as a biobank owner"
                             data-step="1" data-hint="Login as biobank owner by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="DEMO Biobank Owner 1"
											 action="#{devBean.choseBiobankOwner1}"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as a biobank owner"
							 data-step="1" data-hint="Login as biobank owner by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="DEMO Biobank Owner 2"
											 action="#{devBean.choseBiobankOwner2}"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as a biobank owner"
							 data-step="1" data-hint="Login as biobank owner by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="DEMO Biobank Owner 3"
											 action="#{devBean.choseBiobankOwner3}"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as a biobank owner"
							 data-step="1" data-hint="Login as biobank owner by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="Biobank Owner" action="#{devBean.choseBiobankOwner}"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as a researcher"
                             data-step="2" data-hint="Loging as researcher by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="Researcher" action="#{devBean.choseResearcher}"/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12" data-intro="Select this if you want to login as an admin"
							 data-step="2" data-hint="Loging as admin by clicking this">
							<h:commandButton styleClass="btn btn-default btn-block" value="Admin"
											 action="#{devBean.choseAdmin}"/>
						</div>
					</div>
				</h:form>

			</div>

		</h:panelGroup>
	</ui:define>
</ui:composition>





