<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
>

<composite:interface>
    <composite:attribute name="bean" required="true"/>
</composite:interface>

<composite:implementation>

    <h:panelGroup layout="block" id="queryDetailAttachments">

        <h:dataTable value="#{cc.attrs.bean.attachmentMap.entrySet().toArray()}"
                     var="attachment" style="table-layout: fixed;"
                     class="table-striped table-bordered table-responsive table-fullwidth"
                     rendered="#{cc.attrs.bean.attachments.size() > 0}">

            <h:column styleClass="attachment-links">
                <f:facet name="header">Attachments</f:facet>

                <h:outputLink value="../attachment/#{attachment.key}"
                              title="#{label['attachmentview.tooltip.attachmentDownload']}"
                              style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <h:panelGroup
                            style=" overflow: hidden; text-overflow: ellipsis; display:block; white-space: nowrap"
                            styleClass="attachment-links">
                        <i class="fa fa-paperclip" style="margin-right: 2px;"/>#{attachment.value}
                    </h:panelGroup>
                </h:outputLink>
            </h:column>

        </h:dataTable>

    </h:panelGroup>

</composite:implementation>

</html>
