<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:composite="http://xmlns.jcp.org/jsf/composite"
>

<composite:interface>
    <composite:attribute name="bean" required="true"/>
</composite:interface>

<composite:implementation>

    <h:panelGroup layout="block" id="queryDetailData">

        <h3 style="margin-top: 0px; margin-bottom: 0px; text-align: left">
            #{cc.attrs.bean.selectedQuery.title}

        </h3>
        <h:panelGroup layout="block" style="font-size: smaller ">
            <h:outputText
                    title="#{label['queryview.queryitem.datetime.creation']}"
                    value="#{cc.attrs.bean.selectedQuery.queryCreationTime}">
                <f:convertDateTime pattern="dd/MM/yyyy hh:mm"/>
            </h:outputText>
        </h:panelGroup>
        <!--        Function for the show more button        -->
        <h4>#{label['queryview.title.text']}</h4>
        <div style="white-space: pre-wrap"><span class="more">#{cc.attrs.bean.selectedQuery.text}</span></div>
        <h:outputStylesheet>
            .morecontent span {
                display: none;
            }
            .morelink {
                display: block;
            }
        </h:outputStylesheet>
        <h:outputScript>
            $(document).ready(function() {

                var moretext = "Show full text";
                var lesstext = "Show less";

                // read the lines of the span
                var lines = [];
                $.each($('.more').text().split(/\n/), function(i, line){
                    if(line){
                        lines.push(line);
                    } else {
                        lines.push("");
                    }
                });

                // how many lines we want to display (2 more are grayed out)
                var showLines = 5;

                if(lines.length > showLines + 2) {
                    var shownContent = lines.slice(0, showLines).join("\n");
                    var grayedOutLines = lines.slice(showLines, showLines+2).join("\n");
                    var hiddenContent = lines.slice(showLines+2).join("\n");


                    var html = shownContent +
                        '<div id="grayoutarea" class="a-expander-content-fade">' + grayedOutLines + '</div>' +
                        '<span class="moreellipses">&nbsp;</span><span class="morecontent"><span>' + hiddenContent + '</span>&nbsp;&nbsp;<a  style="width: 100px" class="morelink label label-default">' + moretext + '</a></span>';


                    $('.more').html(html);
                }




                $(".morelink").click(function(){
                    if($(this).hasClass("less")) {
                        $(this).removeClass("less");
                        $(this).html(moretext);
                        // add grayout
                        $("#grayoutarea").addClass("a-expander-content-fade");
                    } else {
                        $(this).addClass("less");
                        $(this).html(lesstext);
                        // remove grayout
                        $("#grayoutarea").removeClass("a-expander-content-fade");
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();
                return false;
                });
            });
        </h:outputScript>

        <h4>#{label['queryview.title.requestdescription']}</h4>
        <p class="pre-wrap">#{cc.attrs.bean.selectedQuery.requestDescription}</p>


        <h4>#{label['queryview.title.ethicsVote']}</h4>
        <p class="pre-wrap">#{cc.attrs.bean.selectedQuery.ethicsVote}</p>

        <h:panelGroup styleClass="text" layout="block">
            <h:outputLabel value="#{label['queryview.title.searchParameters']}"/>
            <h:outputText
                    value="#{cc.attrs.bean.humanReadableQuery}"
                    style="margin-left: 22px;">
            </h:outputText>
        </h:panelGroup>
    </h:panelGroup>
</composite:implementation>

</html>
